:root{
    --White: hsl(0, 0%, 100%);
    --Lightgray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Darkblue: hsl(218, 44%, 22%);
    --fonte:'Outfit', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:var(--Lightgray);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.principal{
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    border: transparent;
    border-radius: 23px;
    height: 550px;
    width: 350px;
    box-shadow: 5px 5px 5px
    5px rgba(0, 0, 0, 0.16);

}

.imagem{
    width: 320px;
    height: 320px;
    border-radius: 12px;
    object-fit: cover;
    
}

.texto{
    font-family: var(--fonte);
    padding: 0 1.5em 0 1.5em ;
}

.texto__titulo{
    font-size: 25px;
    font-weight: 700;
    color: var(--Darkblue);
    padding-bottom: 1em;
    line-height: 1.1em;
    text-align: center;
    
}
.texto__descricao{
    font-size: 18px;
    font-weight: 400;
    color: var(--Grayishblue);
    text-align: center;
    margin: 0 .5em 2em .5em;
    line-height: 1.1em;
}

@media (max-width:500px) {
    .principal {
        padding: 1.5em 0;
        display: flex;
        flex-direction: column;
        height: fit-content;
        align-items: center;
        border-radius: 23px;
    }
    .texto__titulo{
        padding-top: 1em;
    }
}